Repository adambard/learnxinyminutes-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vendethiel, @Menelion, @geoffliu

.github/CODEOWNERS:

/fr-fr/ @vendethiel
/ru-ru/ @Menelion
/uk-ua/ @Menelion
/zh-cn/ @geoffliu
/zh-tw/ @geoffliu

[typescript/es] Fix broken link to JS page
  es-es/typescript-es.html.markdown
Owners: none

[typescript/fr] Fix broken link to JS page
  fr-fr/typescript-fr.html.markdown
Owners: @vendethiel

[typescript/pt-br] Fix broken JS link
  pt-br/typescript-pt.html.markdown
Owners: none

[typescript/fr] + [typescript/es] + [typescript/pt-br] Fix broken JS link (#4135)
  es-es/typescript-es.html.markdown
  fr-fr/typescript-fr.html.markdown
  pt-br/typescript-pt.html.markdown
Owners: @vendethiel

Move 'AngularJS' to Frameworks section. This Angular will eventually be joined by many other frameworks like React, Angular, Express, Django, etc.
  angularjs.html.markdown
  zh-cn/angularjs-cn.html.markdown
Owners: @geoffliu

Move OpenCV, OpenGL, p5, PyQT, Qt Framework, raylib to 'Framework' section.
  de-de/opencv-de.html.markdown
  de-de/pyqt-de.html.markdown
  de-de/qt-de.html.markdown
  directx9.html.markdown
  es-es/jquery-es.html.markdown
  es-es/pyqt-es.html.markdown
  fr-fr/jquery-fr.html.markdown
  fr-fr/pyqt-fr.html.markdown
  id-id/pyqt-id.html.markdown
  it-it/jquery-it.html.markdown
  it-it/pyqt-it.html.markdown
  it-it/qt-it.html.markdown
  jquery.html.markdown
  opencv.html.markdown
  opengl.html.markdown
  p5.html.markdown
  pt-br/jquery-pt.html.markdown
  pt-br/pyqt-pt.html.markdown
  pt-br/qt-pt.html.markdown
  pyqt.html.markdown
  qt.html.markdown
  raylib.html.markdown
  ru-ru/jquery-ru.html.markdown
  ru-ru/pyqt-ru.html.markdown
  ru-ru/qt-ru.html.markdown
  tr-tr/jquery-tr.html.markdown
  zh-cn/jquery-cn.html.markdown
  zh-cn/opencv-cn.html.markdown
  zh-cn/pyqt-cn.html.markdown
Owners: @vendethiel, @Menelion, @geoffliu

Fix dead link for `Rommel Marinez` Further Reading
  nix.html.markdown
Owners: none

Update Further reading link for consistency
  sv-se/nix-sv.html.markdown
Owners: none

Unify Further Reading Links
  de-de/nix-de.html.markdown
Owners: none

Unify Further Reading
  sv-se/nix-sv.html.markdown
Owners: none

Unify Further Reading References [nix/en]
  nix.html.markdown
Owners: none

Add Learnvim for fa-ir
  fa-ir/vim-fa.html.markdown
Owners: none

Fix: snippets bug
  fa-ir/vim-fa.html.markdown
Owners: none

Translate new things
  fa-ir/vim-fa.html.markdown
Owners: none

Translate new things
  fa-ir/vim-fa.html.markdown
Owners: none

Update coq.html.markdown
  coq.html.markdown
Owners: none

[coq/en] 8-bits => 8-bit
  coq.html.markdown
Owners: none

[coq/en] remove extra "prove" from comment
  coq.html.markdown
Owners: none

Translate more and fix typos
  fa-ir/vim-fa.html.markdown
Owners: none

Finish vim-fa translate =)
  fa-ir/vim-fa.html.markdown
Owners: none

Proper capitalization of JavaScript
  purescript.html.markdown
Owners: none

Fixup URLs
  purescript.html.markdown
Owners: none

Replace PSCi multi-line mode with paste mode
  purescript.html.markdown
Owners: none

PureScript no longer emits the "Prim." prefix
  purescript.html.markdown
Owners: none

Cons (:) requires purescript-arrays
  purescript.html.markdown
Owners: none

Update various examples
  purescript.html.markdown
Owners: none

updated for v0.6 with fewer oracle details
  solidity.html.markdown
Owners: none

Fix translation problem
  pt-br/elixir-pt.html.markdown
Owners: none

complete word in text
  pt-br/elixir-pt.html.markdown
Owners: none

Add HOCON
  hocon.html.markdown
Owners: none

Reorganize include section, cleanup
  hocon.html.markdown
Owners: none

[jquery/en] Fix for markdown not rendering code block
  jquery.html.markdown
Owners: none

Fix typo in C# doc
  csharp.html.markdown
  pt-br/csharp-pt.html.markdown
Owners: none

[python/en] func annotations and decorators
  python.html.markdown
Owners: none

CHICKEN.html.markdown: adapt to CHICKEN 5
  CHICKEN.html.markdown
Owners: none

Update rust-fr.html.markdown
  fr-fr/rust-fr.html.markdown
Owners: @vendethiel

[vim/ja-jp]Add translate for vim in ja-jp
  ja-jp/vim-jp.html.markdown
Owners: none

[vim/ja] Fix mistake
  ja-jp/vim-jp.html.markdown
Owners: none

Fixed output.
  r.html.markdown
Owners: none

persian file translator was added
  fa-ir/html-fa.html.markdown
Owners: none
