Repository adambard/learnxinyminutes-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vendethiel, @Menelion, @geoffliu, @imba-tjd, @justin-themedium, @mribeirodantas

Proofread
  es-es/go-es.html.markdown
Owners: none

[go/es] Add Go Mobile mention and fix whitespace inconsistencies (#4411)
  es-es/go-es.html.markdown
Owners: none

Make requested changes
  de-de/clojure-de.html.markdown
Owners: none

[clojure/de] Translate clojure (#3711)
  de-de/clojure-de.html.markdown
Owners: none

[javascript/ru] Update links in docs (#4943)
  ru-ru/javascript-ru.html.markdown
Owners: @Menelion

[elisp/*] minibuffer -> echo area (#4941)
  es-es/elisp-es.html.markdown
  ms-my/elisp-my.html.markdown
  pt-br/elisp-pt.html.markdown
  zh-cn/elisp-cn.html.markdown
Owners: @mribeirodantas, @geoffliu, @imba-tjd

Minor changes
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

Proofread
  hcl.html.markdown
Owners: none

[hcl/en] Add guide for Terraform/HCL (#3949)
  hcl.html.markdown
Owners: none

[logtalk/en] [logtalk/it] Update for the current major version of the language (#4526)
  it-it/logtalk-it.html.markdown
  logtalk.html.markdown
Owners: none

Unnecessary historical detail
  kdb+.html.markdown
Owners: none

[kdb+/en] Update KX links (#4569)
  kdb+.html.markdown
Owners: none

Update fr-fr/nix-fr.html.markdown
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

Update fr-fr/nix-fr.html.markdown
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

Update fr-fr/nix-fr.html.markdown
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

Update fr-fr/nix-fr.html.markdown
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

[nix/fr]: Add French translation (#4518)
  fr-fr/nix-fr.html.markdown
Owners: @vendethiel

[php/id] rename function (#4942)
  id-id/php-id.html.markdown
Owners: none

[raylib/en] Updated example (#4775)
  raylib.html.markdown
Owners: none

Formatting
  ko-kr/clojure-macros-kr.html.markdown
Owners: @justin-themedium

[clojure-macros/ko-kr] Translate (#4806)
  ko-kr/clojure-macros-kr.html.markdown
Owners: @justin-themedium

Formatting
  ko-kr/common-lisp-kr.html.markdown
Owners: @justin-themedium

[common-lisp/ko-kr] Translate (#4805)
  ko-kr/common-lisp-kr.html.markdown
Owners: @justin-themedium

Remove trailing space
  ja-jp/nim-jp.html.markdown
Owners: none

[nim/ja-jp] New Japanese translation (#4766)
  ja-jp/nim-jp.html.markdown
Owners: none

[elixir/en] Give more context around comparison operators (#4792)
  elixir.html.markdown
Owners: none

Fix typo
  qml.html.markdown
Owners: none

[qml/en] Add QML tutorial (#4582)
  qml.html.markdown
Owners: none

[python/en] "rounds down" -> "rounds towards zero"
  python.html.markdown
Owners: none

[python/en] "rounds down" -> "rounds towards zero" (#4944)
  python.html.markdown
Owners: none

Formatting
  golfscript.html.markdown
Owners: none

[GolfScript/en] (#4626)
  golfscript.html.markdown
Owners: none

Update smalltalk.html.markdown
  smalltalk.html.markdown
Owners: none

[smalltalk/en] add mixed type array (#4109)
  smalltalk.html.markdown
Owners: none

[Chapel/en] Update chapel.html.markdown (#3877)
  chapel.html.markdown
Owners: none

[yaml/en] Fix an example in YAML (#4562)
  yaml.html.markdown
Owners: none

[set-theory/zh-cn] list original author
  zh-cn/set-theory-cn.html.markdown
Owners: @geoffliu, @imba-tjd

Update golfscript.html.markdown
  golfscript.html.markdown
Owners: none

Formatting
  golfscript.html.markdown
Owners: none

[golfscript/en-en] Add some nifty string tricks (#4945)
  golfscript.html.markdown
Owners: none

.github/CODEOWNERS:

/fr-fr/ @vendethiel
/ru-ru/ @Menelion
/uk-ua/ @Menelion
/zh-cn/ @geoffliu @imba-tjd
/zh-tw/ @geoffliu @imba-tjd
/ko-kr/ @justin-themedium
/pt-pt/ @mribeirodantas
/pt-br/ @mribeirodantas
