Repository adambard/learnxinyminutes-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vendethiel, @Menelion, @geoffliu

farsi trasnalte has been added
  fa-ir/html-fa.html.markdown
Owners: none

Small correction for vala.html.markdown
  vala.html.markdown
Owners: none

Add Arturo
  arturo.html.markdown
Owners: none

Rename yaml.html.markdown to Padil2842
  Padil2842
Owners: none

add hint to numeric underscore for better readability
  de-de/elixir-de.html.markdown
Owners: none

[elixir/de-de] add hint to numeric underscore for better readabilityt
  de-de/elixir-de.html.markdown
Owners: none

Fixing typo in java-fr
  fr-fr/java-fr.html.markdown
Owners: @vendethiel

Update java-fr.html.markdown
  fr-fr/java-fr.html.markdown
Owners: @vendethiel

Update java-fr.html.markdown
  fr-fr/java-fr.html.markdown
Owners: @vendethiel

[java/fr] Fix typo (#4165)
  fr-fr/java-fr.html.markdown
Owners: @vendethiel

Rename OS X to macOS
  chapel.html.markdown
  de-de/bash-de.html.markdown
  de-de/swift-de.html.markdown
  el-gr/bash-gr.html.markdown
  es-es/bash-es.html.markdown
  es-es/matlab-es.html.markdown
  es-es/objective-c-es.html.markdown
  es-es/swift-es.html.markdown
  fr-fr/bash-fr.html.markdown
  fr-fr/objective-c-fr.html.markdown
  it-it/bash-it.html.markdown
  matlab.html.markdown
  ms-my/bash-my.html.markdown
  nl-nl/bash-nl.html.markdown
  no-nb/bash-no.html.markdown
  objective-c.html.markdown
  pt-br/bash-pt.html.markdown
  pt-br/swift-pt.html.markdown
  pt-pt/swift-pt.html.markdown
  ro-ro/bash-ro.html.markdown
  ru-ru/bash-ru.html.markdown
  ru-ru/objective-c-ru.html.markdown
  ru-ru/swift-ru.html.markdown
  sk-sk/bash-sk.html.markdown
  swift.html.markdown
  vi-vn/objective-c-vi.html.markdown
  zh-cn/bash-cn.html.markdown
  zh-cn/swift-cn.html.markdown
  zh-tw/bash-tw.html.markdown
Owners: @vendethiel, @Menelion, @geoffliu

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update html-fa.html.markdown
  fa-ir/html-fa.html.markdown
Owners: none

Update set-theory.html.markdown
  set-theory.html.markdown
Owners: none

Add files via upload
  fr-fr/set-theory-fr.html.markdown
Owners: @vendethiel

Rename OS X to macOS (#4166)
  chapel.html.markdown
  de-de/bash-de.html.markdown
  de-de/swift-de.html.markdown
  el-gr/bash-gr.html.markdown
  es-es/bash-es.html.markdown
  es-es/matlab-es.html.markdown
  es-es/objective-c-es.html.markdown
  es-es/swift-es.html.markdown
  fr-fr/bash-fr.html.markdown
  fr-fr/objective-c-fr.html.markdown
  it-it/bash-it.html.markdown
  matlab.html.markdown
  ms-my/bash-my.html.markdown
  nl-nl/bash-nl.html.markdown
  no-nb/bash-no.html.markdown
  objective-c.html.markdown
  pt-br/bash-pt.html.markdown
  pt-br/swift-pt.html.markdown
  pt-pt/swift-pt.html.markdown
  ro-ro/bash-ro.html.markdown
  ru-ru/bash-ru.html.markdown
  ru-ru/objective-c-ru.html.markdown
  ru-ru/swift-ru.html.markdown
  sk-sk/bash-sk.html.markdown
  swift.html.markdown
  vi-vn/objective-c-vi.html.markdown
  zh-cn/bash-cn.html.markdown
  zh-cn/swift-cn.html.markdown
  zh-tw/bash-tw.html.markdown
Owners: @vendethiel, @Menelion, @geoffliu

[nix/en] Add `@` syntax to set pattern matching section
  nix.html.markdown
Owners: none

fix indent
  zh-cn/perl-cn.html.markdown
Owners: @geoffliu

fix a typo
  swift.html.markdown
Owners: none

Update yaml.html.markdown
  yaml.html.markdown
Owners: none

Replace deprecated links
  dart.html.markdown
Owners: none

`<<` is an expression, not a regex
  yaml.html.markdown
Owners: none

Fix newline error
  c++.html.markdown
Owners: none

Update javascript.html.markdown
  javascript.html.markdown
Owners: none

Update cobol.html.markdown
  cobol.html.markdown
Owners: none

add Chinese translation to set-theory.html.md
  zh-cn/set-theory-cn.html.markdown
Owners: @geoffliu

add header
  zh-cn/set-theory-cn.html.markdown
Owners: @geoffliu

Update ocaml.html.markdown
  ocaml.html.markdown
Owners: none

Fix capitalization of PureScript
  purescript.html.markdown
Owners: none

[asymptotic-notation/fr] fix small typos
  fr-fr/asymptotic-notation-fr.html.markdown
Owners: @vendethiel

[asymptotic-notation/fr] fix small typos (#4186)
  fr-fr/asymptotic-notation-fr.html.markdown
Owners: @vendethiel

Add suggested changes
  fr-fr/set-theory-fr.html.markdown
Owners: @vendethiel

Add sed page
  sed.html.markdown
Owners: none

Fix spacing before semicolons
  fr-fr/set-theory-fr.html.markdown
Owners: @vendethiel

[set-theory/fr] Added French translation for Set theory (#4168)
  fr-fr/set-theory-fr.html.markdown
  set-theory.html.markdown
Owners: @vendethiel

.github/CODEOWNERS:

/fr-fr/ @vendethiel
/ru-ru/ @Menelion
/uk-ua/ @Menelion
/zh-cn/ @geoffliu
/zh-tw/ @geoffliu
