Repository adambard/learnxinyminutes-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vendethiel, @Menelion, @geoffliu, @imba-tjd, @justin-themedium, @mribeirodantas

.github/CODEOWNERS:

/fr-fr/ @vendethiel
/ru-ru/ @Menelion
/uk-ua/ @Menelion
/zh-cn/ @geoffliu @imba-tjd
/zh-tw/ @geoffliu @imba-tjd
/ko-kr/ @justin-themedium
/pt-pt/ @mribeirodantas
/pt-br/ @mribeirodantas

Formatting
  fa-ir/html-fa.html.markdown
Owners: none

[html/fa-ir] Persian translation added for HTML (#4167)
  fa-ir/html-fa.html.markdown
Owners: none

Formatting
  bqn.html.markdown
Owners: none

[bqn/en] Add BQN tutorial (#4523)
  bqn.html.markdown
Owners: none

Formatting and links
  phix.html.markdown
Owners: none

Formatting
  miniscript.html.markdown
Owners: none

Typewriter spacing
  miniscript.html.markdown
Owners: none

[miniscript/en] Add MiniScript (#4343)
  miniscript.html.markdown
Owners: none

[janet/en] [reason/en] use correct highlight lang
  janet.html.markdown
  reason.html.markdown
Owners: none

Fix newlines
  es-es/make-es.html.markdown
  hre.csv
Owners: none

[kotlin/en] Add small section for lambda functions (#4798)
  kotlin.html.markdown
Owners: none

Formatting and language code
  hi-in/c++-hd.html.markdown
Owners: none

[c++/hi]: Translate C++ to Hindi (#4195)
  hi-in/c++-hd.html.markdown
Owners: none

Typo
  fortran.html.markdown
Owners: none

[fortran/en] do concurrent (#4531)
  fortran.html.markdown
Owners: none

[c++/hi] fix language name
  hi-in/c++-hi.html.markdown
Owners: none

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Update uk-ua/awk-uk.html.markdown
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

Formatting
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

gsub fix
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

[awk/uk] translate AWK (#4306)
  uk-ua/awk-uk.html.markdown
Owners: @Menelion

[cypher/en] It use -> It uses
  cypher.html.markdown
Owners: none

Simplify
  typescript.html.markdown
Owners: none

[typescript/en] multiple types (#4803)
  typescript.html.markdown
Owners: none

Formatting
  go.html.markdown
Owners: none

[go/en] update for modern go (#4678)
  go.html.markdown
Owners: none

Rename file
  gdscript.html.markdown
  gdscript2.html.markdown
Owners: none

Remove 2.0
  gdscript.html.markdown
Owners: none

[dart/en] Updated exercise 11 (#3880)
  dart.html.markdown
Owners: none

[dart/en] Updated example14 (#3881)
  dart.html.markdown
Owners: none

Correct URLs
  es-es/smallbasic-es.html.markdown
  ru-ru/visualbasic-ru.html.markdown
  zh-cn/clojure-macros-cn.html.markdown
Owners: @Menelion, @geoffliu, @imba-tjd

[c++/hi-in] add language code
  hi-in/c++-hi.html.markdown
Owners: none

[html/fa-ir] add lang code
  fa-ir/html-fa.html.markdown
Owners: none

[bqn/en] fix frontmatter
  bqn.html.markdown
Owners: none

Minor changes to some parts
  it-it/fish-it.html.markdown
Owners: none
